.middle-div {
	height: 300px;
	overflow-y: auto;
	margin-top: 20px;

}
.middle{
	margin-bottom: 20px;
}
.margin20{
	margin-top:20px;
}


.bottom-div {
	height: 200px;
	overflow: auto;
	margin: 20px;
}

.preview-table{
	height: 100%;
	overflow: auto;
	display:block;
}
.input-div{
	height:100%;
}
.input-area {
	height:230px;
	width:90%;
}

#wizard .well{
	height:300px;
}

#myModal {
	width:1000px;
	height:600px;
}
.h250{
	height:250px;
}
.scroll-box{
	overflow-y:scroll;
}