.middle-div {
	height: 300px;
	overflow-y: auto;
	margin-top: 20px;

}
.middle{
	margin-bottom: 20px;
}
.margin20{
	margin-top:20px;
}


// .bottom-div {
// 	height: 200px;
// 	overflow: auto;
// 	margin: 20px;
// }

.preview-table{
	height: 100%;
	overflow: auto;
	display:block;
}
.input-div{
	height:100%;
}
.input-area {
	height:400px;
	width:90%;
}

#wizard .well{
	height:450px;
}

.modal-body {
	max-height: none;
}

.h400{
	height:400px;
}
.scroll-box{
	overflow-y:scroll;
}




.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.form-inline div{
	display:inline-block;
}
